* {
    margin: 0px;
    padding: 0px
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 15px;
    margin: 20px;
    list-style: none;
    font-weight: bold;
    position: fixed;
    z-index: 5;
}
a:hover {
    text-decoration: underline;
}
body {
    background-color: ivory;
}
.frame {
    background-color: burlywood;
    margin: auto;
    position: fixed;
    z-index: 6;
}
#top {
    width: auto;
    height: 15%;
    top: 20px;
}
#bottom {
    width: auto;
    height: 15%;
    bottom: 20px;
}
#right {
    width: 15%;
    height: auto;
    right: 20px;
}
#left {
    width: 15%;
    height: auto;
    left: 20px;
}
.pic {
    margin: auto;
    margin-top: 400px;
    margin-bottom: 400px;
    width: 600px;
    height: 400px;
    background-color: black;
    border: 2px solid darkgray;
    position: relative;
    z-index: 1;
}
