* {
    margin: 0px;
    padding: 0px
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 15px;
    margin: 20px;
    list-style: none;
    font-weight: bold;
    position: fixed;
    z-index: 5;
}
a:hover {
    text-decoration: underline;
}
body {
    background-color: ivory;
}
.fixed-frame {
    background-color: burlywood;
    border: 2px olive solid;
    margin: auto;
    position: fixed;
    width: 800px;
    height:600px;
}
.pic {
    margin: auto;
    margin-top: 400px;
    margin-bottom: 400px;
    width: 600px;
    height: 400px;
    background-color: black;
    border: 2px solid darkgray;
    position: relative;
}
