* {
    margin: 0px;
    padding: 0px
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 15px;
    list-style: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
body {
    background-color: ivory;
}
.fixed-frame {
    background-color: burlywood;
    border: 2px olive solid;
    margin: 20%;
    position: fixed;
    width: 800px;
    height:600px;
}
.pic {
    margin: auto;
    width: 600px;
    height: 400px;
    background-color: black;
    border: 2px solid darkgray;
    position: relative;
}
