p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro {
    background-color: burlywood;
}

.propogation {
    background-image: none;
    /* looking for a pic light in color and very zoomed in */

    height: 500px;
    width: auto;

}

.propagation.proplist {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    margin: 60px auto;
    width: 70%;
    background-color: #c2b280;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.proplist {
    height: 500px;
    width: 700px;
}

.proplist p {
    color: #d5d5d5;
    width: 300px;
    height: auto;

}

.sedums {
    background-image: url(https://user-images.githubusercontent.com/75733067/105346043-0a005680-5bb3-11eb-9869-546c603f89d9.png);
}

.aloes {
    background-image: url(https://user-images.githubusercontent.com/75733067/105346229-4df35b80-5bb3-11eb-83dc-cc2959166b65.png);
}

.jades {
    background-image: url(https://user-images.githubusercontent.com/75733067/105346180-3caa4f00-5bb3-11eb-9943-b7a02ad2910a.png);
}

.christmas-cacti{
    background-image: url(https://user-images.githubusercontent.com/75733067/105346152-3025f680-5bb3-11eb-821a-1eedbaa265d5.png);
}
