
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c2b280;
    margin: 10px 20%;
}

h1 .title {
    color: chocolate;
    width: 400px;
    margin: auto;
    display: block;
    position: relative;
    top: 30px;
    padding: 5px;
    margin: 20px;
}

h1 .rhetorical {
    color: rgb(15, 95, 15);
    border-top: 2px dotted grey;
    border-bottom: 2px dotted grey;
    width: 400px;
    margin: 20px auto;
}

.propogation {
    height: 500px;
    width: auto;
}

.propogation p {
    padding: 10px;
}

.propagation.proplist {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll;
}

.proplist h5 {
    text-align: center;
}

.proplist p, .proplist img {
    display: inline-block;
    height: 200px;
    width: 300px;
    overflow: scroll;
}

.proplist {
    height: 500px;
    width: 700px;
}

.proplist p {
    color: #d5d5d5;
    width: 300px;
    height: auto;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    position: fixed;
    background-color: bisque;
}
nav ul li, footer ul li {
    float: left;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}

body a {
    color: forestgreen;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h1, h2, h3, h4, h5, h6, aside {
    color: 	#D2691E;
    border-top: 1px solid #D2691E;
    border-bottom:chocolate solid 1px;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

section .intro {
    text-align: center;
}

.sedums {
    background-image: url(https://user-images.githubusercontent.com/75733067/105346043-0a005680-5bb3-11eb-9869-546c603f89d9.png);
}

.aloes {
    background-image: url(https://user-images.githubusercontent.com/75733067/105346229-4df35b80-5bb3-11eb-83dc-cc2959166b65.png);
}

.jades {
    background-image: url(https://user-images.githubusercontent.com/75733067/105346180-3caa4f00-5bb3-11eb-9943-b7a02ad2910a.png);
}

.christmas-cacti{
    background-image: url(https://user-images.githubusercontent.com/75733067/105346152-3025f680-5bb3-11eb-821a-1eedbaa265d5.png);
}
